#contato.fullheight.d-flex.justify-content-center.align-items-center.flex-column
    img.img-fluid(src="dist/images/vamoscriar.svg", alt="", 
    width="100%")
    .container
        .row.mt-5.justify-content-center.text-center
            .col-md-4 11 9.8163.6517
            .col-md-4 Instagram: @itsthallis
            .col-md-4 thallisoliveira904@gmail.com