<!DOCTYPE html>
html(lang="pt-br")
head
	meta(charset="UTF-8")
	title Thallis Oliveira S. | Designer
	link(rel="stylesheet", href="styles/index.css")
body
	.example  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		p lorem
	script(src="/dist/js/index.js")