<!DOCTYPE html>
html(lang="pt-br")
head
	meta(charset="UTF-8")
	title Thallis Oliveira S. | Designer
	link(rel="stylesheet", href="styles/index.css")
body
	.fullheight.d-flex.justify-content-center.align-items-center
		.container.d-flex.justify-content-center
			#main-image
			div lorem

	script(src="/dist/js/index.js")