#intro.fullheight.d-flex.justify-content-center.align-items-center
		.col-md-5.d-flex.text-center.flex-column
			div
				img#mainimage.rounded-circle.img-fluid(src="dist/images/profilepb.png" width="43%")
				h1.mt-4 Thallis Oliveira
				h4.bluetext Designer_