#oqueeufaco.fullheight.d-flex.justify-content-center.align-items-center
	.container
		h1 O que eu faço_
		.row.mt-5.justify-content-center
			.col-md-3.mt-4.mt-md-2
				img.mb-2(src="./dist/images/pc.svg" width="20%")
				h4 WEB DESIGN
				p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum sunt, laudantium et quis veniam facilis consectetur dignissimos quibusdam iure incidunt commodi provident in excepturi aliquid recusandae possimus nesciunt sapiente vero.
				
			.col-md-3.offset-md-1.mt-4.mt-md-2
				img.mb-2(src="./dist/images/pc.svg" width="20%")
				h4 WEB DESIGN
				p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum sunt, laudantium et quis veniam facilis consectetur dignissimos quibusdam iure incidunt commodi provident in excepturi aliquid recusandae possimus nesciunt sapiente vero.
				
			.col-md-3.offset-md-1.mt-4.mt-md-2
				img.mb-2(src="./dist/images/pc.svg" width="20%")
				h4 WEB DESIGN
				p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum sunt, laudantium et quis veniam facilis consectetur dignissimos quibusdam iure incidunt commodi provident in excepturi aliquid recusandae possimus nesciunt sapiente vero.
		
		.d-flex.justify-content-center
			button.btn.btn-outline-primary.mt-5 Acesse o portfólio