.vheight-60.d-flex.justify-content-center.align-items-center
	.container
		.col-md-8
			h1 Sobre mim_
			p Sou Thallis, tenho 22 anos, estudante do curso de Design Digital - 7º Semestre, moro em Osasco-SP.
			p Amo desenvolvimento em Front-end e Design gráfico. Estou sempre procurando me aprimorar nestas e em outras vertentes do design. E aqui, pretendo colocar um pouco do que faço em projetos diversos.